<h2>Dead Words</h2>


<script>
  fetchLatest() // this updates the feed in case somebody has posted while a user is sitting on the page
</script>

<section class="story-area"> <%# Everyones submissions are displayed here, and then this area is covered by fetch latest, prevents lagging %>
<div id="updated-text-area">
  <% @contributions.each do |contribution| %>
    <p> <%= contribution.story_bit %> </p>
   <% end %>
   </div>
   <div class="subsection">
   <p class="staging-text"></p>
   </div>
</section>
 

<section class="story-area" id="text-input">
  <%= form_for @contribution do |f| %>
      <%= f.label "Your turn" %>
      <%= f.text_area :story_bit, :placeholder => "Once upon a time, blah blah blah", class: 'text-field'%>
      <%= f.submit "Post", class: "submit-button real hidden" %>     <%# this is to facilitate the chance to see your submission as it'll look once posted, and then get to edit it in case you made a mistake %>
  <% end %>
  <button class="submit-button jk">Submit</button> <%# tricky fake submitit button because you probably won't realise you made a mistake until it's too late %>
</section>


<button class="submit-button hidden" id="edit-btn">Edit?</button>  <%# this button will no longer be hidden after the user has had the chance to edit their work %>

<script> // click events, see application.js for all other script
  $("#edit-btn").on("click", function(){
    $('.text-field').focus()
  });

  $(".jk").on("click", function(){
    staging($('.text-field').val())
    $(".jk").addClass("hidden")
    $(".real").removeClass("hidden")
  
    });
</script>

<script class="marko">
const marko = function (string) {
  return string.split(' ')
  // so there's 7 different likelihoods here

  // when a, there's a 20% liklihood of a again, and a 20% liklihood of b, and a 60% liklihood of c
  
  // when b, there's a 50% liklihood of b again, and a 50% liklihood of a 

  // when c, there's a 70% liklihood of b, and 0% liklihood of c again, and a 30% liklihood of a recurring again

  // for each word there is a new liklihood, but then there'd only ever be three words
};

console.log(marko('hi there'));
</script>