<h2>Welcome To The Wonderful World of This Site Existing</h2>

<script>
  const fetchLatest = function () {
    $('#updated-text-area').load('/contributions/latest');
    setTimeout(fetchLatest, 3000)
  }
  fetchLatest()
</script>

<section class="story-area" id="updated-text-area">
    <% @contributions.each do |contribution| %>
    <p> <%= contribution.story_bit %> </p>
<%end %>
</section>
 

<section class="story-area" id="text-input">
  <%= form_for @contribution do |f| %>
      <%= f.label "Your turn" %>
      <%= f.text_area :story_bit, :placeholder => "Once upon a time, blah blah blah", class: 'text-field'%>
      <%= f.submit "Post" %>   
      <button class="submit-button right-side">Submit</button> 
  <% end %>
</section> 