<h1>Welcome To The Wonderful World of This Site Existing</h1>

<section class="story-area">
    <% @stories.each do |story| %>
    <p> <%= story.bit %> </p>
<%end %>
</section>

 <section class="story-area" id="text-input">
        <%= form_for @story do |f| %>

          <%= f.label "Your turn" %>
          <%= f.text_area :bit, :placeholder => "your turn", class: 'text-field'   %> <%# , :maxlength => 250? %>
          <%= f.submit  %>
      
        <% end %>
        
      </section>