<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
    <section class="instructions" id="draggy" draggable="true">
      <header>
        <div class="controls">
          <button type="button" onclick="document.querySelector('.instructions').classList.add('hidden')"x>X</button>
        </div>
        <h1>Make a Story as a ~community~</h1> 
        <ul>
          <li>You write something,</li>
          <li>Then somebody else does!</li>
          <li>Continue the story from where the last person left off</li>
        </ul>
      </header>
    </section>

    <div class="outer-container">

      <div class="container">
        
      
      <%= yield %>


     
      </div>

    </div>


</body>
</html>
